h1 Source Facilitation

h2 Principles
li 
  a(href='acceleration.html') Acceleration
li
  a(href='pace.html') Pace
li
  a(href='responsiveness.html') Responsiveness


a(href='scenarios.html')
  h2 Scenarios
li
  a(href='scenarios-design-against.html') Scenarios You Can Design Against
li
  a(href='detractors.html') Detractors
li
  a(href='faciltiating-pitching.html') Pitching
li
  a(href='failed-gambits.html') Failed Gambits
li
  a(href='tech-problems.html') Tech Problems
li
  a(href='tired.html') Someone's tired
li
  a(href='venue-fails.html') Logistical problems at the venue

h2 Techniques

li
  a(href='huddles.html') Huddles
li
  a(href='question-map.html') Question Map
li
  a(href='room-position.html') Your Position In The Room
li
  a(href='weaving.html') Weaving

